* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.header-section h1 {
  font-size: 40px;
  font-weight: bolder;
}
.skip-color {
  color: orange;
}
.fix-container {
  display: flex;
  margin-bottom: 90px;
}
.content-section {
  width: 50%;
  padding-left: 10%;
  margin-top: 80px;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(orange, rgb(235, 8, 0));
  color: black;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.content-section img {
  width: 50%;
}
.body-section {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
}
.content-header {
  text-align: center;
}

.card {
    float: left;
    width: 33.33%;
    height: 20px;
}
.recipe-container::after {
    content: "";
    clear: both;
    height: 20px;
}
.recipe-container img{
    height: 300px;
    width:400px;
    margin-left: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
